/* $Id$ */

vv, kopf, systematik, veranstaltung, p, seite
{
  display: block;
}

kopf
{
  color: green;
}

p { margin: 1em 0; }

veranstaltung { margin: .5em 0; }

i { font-style: italic; }
em { font-family: serif; }


vv > titel, vv > untertitel
{
  display: block;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

vv > titel
{
  font-size: xx-large;
}

systematik
{
  margin-left: 1em;
}

systematik > titel
{
  display: block;
  font-weight: bold;
  font-size: large;
}

seite { color: red; font-weight: bold; }
seite:before { content: "[Seite "; }
seite:after  { content: "]"; }
