form.suche {
  width: 500px;
  position: relative;
  margin-bottom: 50px;
}

form.suche fieldset,
form.suche p.widget {
  margin: 15px 0;
  padding: 0px;
  border: 0;
  background-color: #f1f1e4;
}

form.suche fieldset {
  padding: 10px;
  background-image: url("../gfx/bg-fieldset.png");
  background-repeat: repeat-x;
}

form.suche fieldset legend,
form.suche p.widget label {
  display: block;
  background-color: #fff;
  font-weight: bold;
}

form.suche fieldset legend {
  margin-left: -10px; /* compensate fieldset padding */
}

form.suche p.widget input {
  margin: 10px;
  width: 475px;
}

form.suche select,
form.suche input {
  border: 1px solid grey;
  font-size: 12px;
}

form.suche input[type=reset],
form.suche input[type=submit] {
  background-color: #f1f1e4;
}

form.suche label a,
form.suche legend a {
  text-decoration: none;
  cursor: help; 
}

form.suche p.buttonbar {
  text-align: right;
}

form.suche fieldset span.widget,
form.suche fieldset div.widget {
  display: block;
  float: left;
  margin-right: 10px;
}

form.suche p.widget br,
form.suche fieldset div.widget br {
  display: none;
}

form.suche select#f-von,
form.suche select#f-bis {
  min-width: 180px;
}

form.suche fieldset#fs-fakultaeten label {
  display: inline-block;
  width: 200px;
}

div#hilfe {
  margin-bottom: 50em; width: 45em;
}
