form.suche {
  width: 31em;
  position: relative;
}

form.suche fieldset,
form.suche p.widget {
  margin: .6em 0;
  padding: .5em;
  border: 1px solid #ddd;
}

form.suche select,
form.suche input {
  border: 1px solid grey;
  font-size: 12px;
}

form.suche input[type=reset],
form.suche input[type=submit] {
  background-color: #ddd;
}

form.suche p.widget select,
form.suche p.widget input {
  width: 100%;
  margin-top: -.6em;
}

form.suche p.widget {
  margin-top: 1em;
  position: relative;
}

form.suche p.widget label {
  position: relative;
  top: -1.2em;
  background-color: white;
  padding: 0 2px;
}

form.suche label a,
form.suche legend a {
  color: #8fb635;
  font-size: 13px;
  text-decoration: none;
  cursor: help; 
}

form.suche p.buttonbar { text-align: right; }
form.suche p.buttonbar input[type=reset] { float: left; }

form.suche select#f-grad { min-width: 8em; }
form.suche select#f-dozent { min-width: 17em; }
form.suche select#f-von,
form.suche select#f-bis { min-width: 10em; }

form.suche fieldset span.widget,
form.suche fieldset div.widget {
  display: block;
  float: left;
  margin-right: 1em;
}

form.suche fieldset span.widget label,
form.suche fieldset div.widget label {
  display: block;
  font-size: 90%;
}

form.suche fieldset div.widget br {
  display: none;
}

div#hilfe {
  margin-bottom: 50em; width: 45em;
}
