html, body
{
  color: black;
  background-color: white;
  font-family: Arial;
  font-size: 12px;
  padding-right: 40px;
}

h1#header
{
  font-size: 27px;
  padding: 7px;
  clear:both;
  background-color: #8fb635;
  background-image: url("../gfx/histvvfraktur.png");
  background-repeat: no-repeat;
  background-position: 8px;  
  color: white;
  font-style: italic;
  margin: 0px 0px 6px 0px;
}
ul#nav
{
  float: left;
  list-style: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

ul#nav li
{
  font-size: 12px;
  line-height: 12px;
  padding: 3px 8px 3px 6px;
}

ul#nav li.selected
{
  background-color: #8fb635;
}

ul#nav a
{
  color: black;
  text-decoration: none;
}
ul#nav li.selected a
{
  color: white;
}

.clear { clear: both; }


/* jQuery Tooltip Plugin */

#tooltip
{
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  width: 30%;
}

#tooltip h3, #tooltip div { margin: 0; }
