body.vv {
  margin: 2em 15%;
  position: relative;
  font-family: Georgia, serif;
  width: auto;
}

body.vv > h1 {
  text-align: center;
}


ol.toc {
  -moz-column-count: 3;
  column-count: 3;
  font-size: 11px;
}

ol.toc ~ img {
  display: block;
  margin: 2em auto;
}

div.uebersicht > h2 {
  text-align: center;
  font-variant: small-caps;
}

div.sachgruppe > h2 {
  text-align: center;
  margin: 2em auto 1em;
}

div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe h4 {
  margin-left: 1.5em;
}

div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe
div.sachgruppe h4 {
  margin-left: 3em;
}

div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe
div.sachgruppe div.sachgruppe h4 {
  margin-left: 4.5em;
}

div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe
div.sachgruppe div.sachgruppe div.sachgruppe h4 {
  margin-left: 6em;
}

div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe
div.sachgruppe div.sachgruppe div.sachgruppe div.sachgruppe h4 {
  margin-left: 7.5em;
}

em.gesperrt, span.autor {
  font-style: normal;
  letter-spacing: .3em;
}

span.schrift span.titel {
  font-style: italic;
}

span.schrift { text-decoration: underline; }

/* korrektur */
ins { text-decoration: none; color: red; cursor: help;}
ins:before { content: "["; }
ins:after { content: "]"; }
del { display: none; }

/* scil */
#content.vv abbr {
  cursor: help;
  border-bottom: 1px dotted;
}

span.seite {
  display: block;
  margin: 2em 0;
  text-align: right;
}

span.seite a {
  text-decoration: none;
}

ul#seitennavigation {

  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 1em 0;
}

ul#seitennavigation:before {
  content: "Seiten: ";
}

ul#seitennavigation li {
  display: inline;
}

div#content.vv hr {
  display: block;
  width: 40%;
  margin: 1.5em auto;
}

.veranstaltungsverweis {
  color: #555;
}

.veranstaltungsverweis[id^=_v-]:before {
  content: "\002197  ";
  color: #555;
  font-weight: bold;
  cursor: help;
}

table.veranstaltungsliste td.semester {
  white-space: nowrap;
}

.quelle {
  font-size: 80%;
}

.veranstaltung:target {
  background-color: #ddb;
  padding: 10px 8px;
  border-top: 10px solid white;
}
