dozentenliste, universit\0000E4t,
dozent, name, geboren, gestorben,
pnd, adb, ndb, beruf,
absatz, url, quelle, anmerkungen,
bild, bild > quelle,
beacon, beacon > * {
  display: block;
}

dozentenliste {
  font-family: serif;
  color: black;
  background-color: white;
}

*:before, *:after {
  color: gray;
}

universit\0000E4t {
  margin-bottom: 1em;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

universit\0000E4t:before {
  display: block;
  content: "Dozentenliste der Universit\0000E4t ";
  margin-top: 1em;
}

dozentenliste > dozent {
  margin-bottom: 1em;
  padding: .3em;
  border: 1px dotted gray;
}

dozentenliste > dozent:before {
  content: "???";
  display: block;
  text-align: left;
  margin: 0;
  font-weight: bold;
  background-color: gray;
  color: white;
  padding: 0 .3em;
}

dozentenliste > dozent[xml|id]:before {
  content: attr(xml|id);
}

dozentenliste > dozent[xml|id] {
  margin-bottom: 0em;
}

dozentenliste > dozent[xml|id]:after {
  display: block;
  margin-bottom: 1.2em;
  font-size: small;
  content: check-box(attribute, eindeutig,
                     label, "Nachname eindeutig",
                     checked-value, "ja",
                     remove-value, yes);
}

dozentenliste > dozent > * {
  margin: .3em 0;
}

dozentenliste > dozent > name {
  font-weight: bold;
  font-size: large;
  margin-top: 0;
}

dozent > name > vorname:before {
  content: ", ";
}

vorname rufname {
  text-decoration: underline;
}

nachnamenpr\0000E4fix:before {
  content: " (";
}

nachnamenpr\0000E4fix:after {
  content: ")";
}

dozentenliste > dozent > geboren,
dozentenliste > dozent > gestorben,
dozentenliste > dozent > pnd,
dozentenliste > dozent > beruf {
  margin-left: 5em;
}

geboren:before, gestorben:before, beruf:before {
  display: marker;
  content: element-label() ":";
}

geboren > monat:before,
geboren > tag:before,
gestorben > monat:before,
gestorben > tag:before {
  content: "-";
}

geboren > ort:before,
gestorben > ort:before {
  content: " in ";
}

dozent > pnd:before {
  display: marker;
  content: "PND:";
}

dozent > adb:before {
  content: "ADB ";
}

dozent > ndb:before {
  content: "NDB ";
}

adb > band:before,
ndb > band:before {
  content: "Bd. ";
}

adb > seite:before,
ndb > seite:before {
  content: ", S. ";
}

adb > url:before,
ndb > url:before {
  content: ", URL: ";
}

adb > url, ndb > url {
  display: inline;
} 

dozent url {
  font-size: 90%;
  color: blue;
}

dozent quelle {
  font-size: 90%;
}

dozent > anmerkungen {
  margin-top: 1em;
}

dozent > anmerkungen:before {
  content: "Anmerkungen";
}

dozent > anmerkungen > absatz {
  margin: .3em 0;
}


dozent > quelle, dozent > url {
  margin-left: 1.5em;
}

dozent > quelle:before {
  display: marker;
  content: icon(square);
}

dozent > url:before {
  display: marker;
  content: icon(external-link-small);
}

dozent > bild {
  margin-top: 1em;
}

dozent > bild:before {
  display: inline;
  content: icon(image) " " attr(name);
}

dozent > bild > quelle:before {
  display: inline;
  content: element-label() ": ";
}

dozent > bild > quelle:after {
  display: inline;
  content: " (" attr(url) ")";
}

beacon {
  margin: 0 0 1em 0;
  collapsible: yes;
}

beacon:before {
  display: block;
  content: collapser() " BEACON Metadaten";
  font-weight: bold;
  margin: 2em 0 .2em;
}

beacon > *:before {
  display: inline;
  content: element-label() ": ";
}
