/* $Id$ */

@import "include/base.css";
@import "include/colors.css";

sachgruppe
{
  border: 1px dotted gray;
  padding: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
}

titel + sachgruppe { margin-top: 0; }

absatz:after
{
  content: "\0000b6";
  color: gray;
  font-weight: bold;
}

veranstaltungsverweis:before
{
  content: "\002197";
  color: gray;
  font-weight: bold;
}

absatz veranstaltung:before,
veranstaltungsgruppe veranstaltung:before,
veranstaltungsgruppe veranstaltungsverweis:before
{
  content: "{";
  color: gray;
  font-weight: bold;
}

veranstaltungsgruppe veranstaltungsverweis:before { content: "{\002197"; }

absatz veranstaltung:after,
veranstaltungsgruppe veranstaltung:after,
veranstaltungsgruppe veranstaltungsverweis:after
{
  content: "}";
  color: gray;
  font-weight: bold;
}

veranstaltungsgruppe > veranstaltungsgruppe:before
{  
  content: "{{";
  color: gray;
  font-weight: bold;
}

veranstaltungsgruppe > veranstaltungsgruppe:after
{  
  content: "}}";
  color: gray;
  font-weight: bold;
}

*[kontext=sachgruppe]:before
{
  content: "\0021AA";
  color: gray;
  font-weight: bold;
}
