/* $Id$ */

@import "include/base.css";

vv absatz, sachgruppe absatz,
veranstaltung, veranstaltungsverweis, veranstaltungsgruppe,
seite, trennlinie
{
  display: none;
}

sachgruppe > titel { font-size: medium; }

sachgruppe
{
  border: 1px dotted gray;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

titel + sachgruppe { margin-top: 0; }

sachgruppe { collapsible: yes; not-collapsible-head: 1; }
sachgruppe > titel:before { content: collapser() " "; }

sachgruppe[xml|id]:before
{
  display: none;
  color: gray;
  display: inline;
  font-size: smaller;
  content: attr(xml|id);
}
