@import "include/layout.css";
@import "include/form.css";
@import "include/vv.css";

body {
  color: black;
  background-color: white;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table caption {
  caption-side: top;
  text-align: left;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 3px;
}

th.nr, td.nr {
  text-align: right;
}

abbr, acronym {
  cursor: help;
  border-color: gray;
}

.clear { clear: both; }


/* ======================== */

#content.home form.suche {
  float: right;
  width: 25em;
}

#content.home img.ws1814 {
  filter:alpha(opacity=20); /* IE */
  -moz-opacity:0.2; /* Gecko-Browser */
  opacity:0.2; /* Opera 9+ */
  float: right;
  margin-right: -50px;
  clear: right;
}

/* ======================== */

#content.vv h1 {
  text-align: center;
}

/* ======================== */

#content.dozent img.portrait {
  float: right;
  border: 1px solid #8fb635;
  max-width: 180px;
}

/* ======================== */

#content.suchergebnis table {
  clear: both;
}

#content.suchergebnis th,
#content.suchergebnis td.nr {
  border: 1px solid #8fb635;
  color: #8fb635;
}

#content.suchergebnis td.dozent,
#content.suchergebnis td.semester {
  white-space: nowrap;
}

#content.suchergebnis .proSeite,
#content.suchergebnis .geheZu {
  float: left;
  margin: 1em 1em 1em 0;
  width: 200px;
}


/* jQuery Tooltip Plugin */

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  width: 30%;
}

#tooltip h3, #tooltip div {
  margin: 0;
}

@media print {

  div#header, div#sidebar, div#footer, ul#seitennavigation {
    display: none;
  }

  body {
    width: auto;
    margin: 1cm;
  }

  #content {
    width: auto;
    float: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
  }

}
