@import "include/layout.css";
@import "include/form.css";
@import "include/vv.css";

body {
  color: black;
  background-color: white;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

a {
  color: #ab4739;
  text-decoration: none;
}

a:hover {
  color: #69221e;
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-size: 20px;
  color: #41524a;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 14px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table caption {
  caption-side: top;
  text-align: left;
}

th, td {
  text-align: left;
  vertical-align: top;
  padding: 3px;
}

th.nr, td.nr {
  text-align: right;
}

abbr, acronym {
  cursor: help;
  border-color: gray;
}

.clear { clear: both; }


/* ======================== */

#content.home form.suche {
  float: right;
  width: 25em;
}

#content.home img.ws1814 {
  filter:alpha(opacity=20); /* IE */
  -moz-opacity:0.2; /* Gecko-Browser */
  opacity:0.2; /* Opera 9+ */
  float: right;
  margin-right: -50px;
  clear: right;
}

/* ======================== */

#content.vv h1 {
  text-align: center;
}

/* ======================== */

#content.dozent img.portrait {
  float: right;
  border: 1px solid #8fb635;
  max-width: 180px;
}

#content.dozent ul.lebensdaten {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ======================== */

table.suchergebnis {
  border-spacing: 4px;
  border-collapse: separate;
  border-top: 1px solid #41524a;
  border-bottom: 1px solid #41524a;
}

table.suchergebnis thead th {
  color: #41524a;
  background-color: #f1f1e4;
}

table.suchergebnis tbody tr td {
  background-color: #f1f1e4;
}

table.suchergebnis tbody tr.odd td {
  background-color: #ffffff;
}

table.suchergebnis td.semester {
  text-align: right;
}

ul.pager {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 11px;
}

ul.pager:after {
  content: "";
  display: block;
  clear: both;
}

ul.pager li {
  display: block;
  width: 40%;
  margin: 2px 0;
}

ul.pager li * {
  font-style: normal;
}

ul.pager li a {
  color: #000;
}

ul.pager li.previous {
  float: left;
  text-align: left;
}

ul.pager li.previous *:before {
  content: "< ";
}

ul.pager li.next {
  float: right;
  text-align: right;
}

ul.pager li.next *:after {
  content: " >";
}

form.treffer-pro-seite {
  margin: 1em 0;
}

/* jQuery Tooltip Plugin */

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  background-image: none;
  padding: 5px;
  width: 30%;
}

#tooltip h3, #tooltip div {
  margin: 0;
}

@media print {

  div#header, div#sidebar, div#footer, ul#seitennavigation {
    display: none;
  }

  body {
    width: auto;
    margin: 1cm;
  }

  #content {
    width: auto;
    float: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
  }

}
