vv, kopf, \0000FCbersicht, sachgruppe,
veranstaltung, veranstaltungsverweis,
veranstaltungsgruppe, absatz, seite, ocr {
  display: block;
}

vv {
  font-family: serif; 
  color: black;
  background-color: white;
}

kopf {
  margin-top: .5em;
  margin-bottom: 2em;
  padding: .5em;
  border: 2px solid gray;
}

kopf *:before,
kopf *:after {
  color: gray;
}

kopf > *,
kopf > status > * {
  display: block;
  margin-left: 6em;
}

kopf > status {
  margin-left: 0;
  margin-top: .5em; 
}

kopf > *:before,
kopf > status > *:before {
  display: marker;
  content: element-label();
}

kopf > * > monat:before {
  content: "-";
}

kopf > * > tag:before {
  content: "-";
}

kopf > semester {
  content: combo-box(values, "Sommer\A Winter");
}

kopf > status:after {
  display: block;
  margin-left: 6em;
  content: check-box(attribute, komplett,
                     label, "komplett transkribiert",
                     checked-value, "ja",
                     remove-value, yes);
}

korrigiert > durch:before {
  content: "durch ";
}

korrigiert > am:before {
  content: "am ";
}

korrigiert > am,
korrigiert > durch {
  display: inline-block;
  margin-right: .5em;
}

korrigiert > anmerkungen:before {
  content: "(";
}

korrigiert > anmerkungen:after {
  content: ")";
}

absatz {
  margin: .5em 0;
}

absatz > veranstaltung,
absatz > veranstaltungsverweis,
veranstaltungsgruppe > veranstaltung,
veranstaltungsgruppe > veranstaltungsverweis,
veranstaltungsgruppe > veranstaltungsgruppe {
  display: inline;
}

veranstaltung,
veranstaltungsverweis,
veranstaltungsgruppe {
  margin: .5em 0;
}

antiqua {
  font-style: italic;
}

gesperrt {
  font-family: sans-serif;
}

kursiv {
  font-style: italic;
}


vv > titel, vv > untertitel {
  display: block;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

vv > titel {
  font-size: xx-large;
}

\0000FCbersicht > titel {
  display: block;
  margin: 1em 0;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

sachgruppe > sachgruppe {
  margin-left: 1em;
}

sachgruppe > titel {
  display: block;
  font-weight: bold;
  font-size: large;
}

seite {
  font-weight: bold;
  text-align: right;
}

seite:before {
  content: "[Seite ";
  color: gray;
}

vv[paginierung*=spalten] seite:before {
  content: "[Spalte ";
}

seite:after  {
  content: "]";
  color: gray;
}

seite[nr] {
  content: attr(nr);
  color: gray;
}

sic {
  display: inline-block; 
  border: 1px solid transparent;
  border-bottom-color: gray;
  background-color: inherit;
}

sic:after {
  color: gray;
  content: " [sic]";
}

scil:after {
  color: gray;
  content: " [scil. \"" attr(text) "\"]";
}

korrektur:before {
  color: gray;
  content: "[";
  font-style: normal;
}

korrektur:after {
  color: gray;
  content: "]";
  font-style: normal;
}

anmerkung {
  font-family: sans-serif;
  font-size: small;
}

anmerkung:before {
  color: gray;
  content: " *[";
}

anmerkung:after {
  color: gray;
  content: "] ";
}

trennlinie {
  display: block;
  margin: .5em 0;
  border: 1px solid gray;
  height: 1px;
  text-align: center;
}

@media XMLmind-XML-Editor {
  trennlinie
  {
    content: paragraph("----------", text-align, center, color, gray);
    border: 0;
  }

  /* XXE doesn't support letter-spacing */
  gesperrt { font-size: larger; }
}

dozent > grad,
dozent > funktion {
  font-style: italic;
}

modus   {
  font-style: italic;
}

geb\0000FChr {
  font-style: italic;
}

thema autor {
  font-family: sans-serif;
  text-decoration: underline;
}

thema > schrift {
  text-decoration: underline;
}

thema > schrift > titel {
  font-style: italic;
}

ocr {
  display: block;
  border: 2px solid gray;
  padding: .5em;
}

ocr:before {
  content: "OCR";
  color: gray;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
