form.suche
{
  float: left;
  width: 40em;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  border-left: 1px solid #8fb635;
}

form fieldset,
form p.widget
{
  margin: .6em 0;
  padding: .5em;
  border: 1px solid #ddd;
}

select, input
{
  border: 1px solid grey;
  font-size: 12px;
}

input[type=reset],
input[type=submit]
{
  background-color: #ddd;
}

p.widget select, p.widget input { width: 100%; }

label a, legend a 
{ 
  color: #8fb635;
  font-size: 13px;
  text-decoration: none;
  cursor: help; 
}

p.buttonbar { text-align: right; }
p.buttonbar input[type=reset] { float: left; }

select#f-grad { min-width: 8em; }
select#f-dozent { min-width: 20em; }
select#f-von, select#f-bis { min-width: 10em; }

fieldset span.widget,
fieldset div.widget
{
  display: block;
  float: left;
  margin-right: 1em;
}

fieldset span.widget label,
fieldset div.widget label
{
  display: block;
  font-size: 90%;
}

fieldset div.widget br { display: none; }

div#hilfe { margin-bottom: 50em; width: 45em; }

#js-hilfe
{
  display: none;
  position: fixed;
  top: 3em;
  left: 55em;
  width: 30em;
  color: black;
  background-color: white;
  border: 1px solid grey;
  padding: .5em;
}

#js-hilfe h3 { margin-top: 0; }

.clear { clear: both; }
