/* $Id$ */

vv, kopf, \0000FCbersicht, sachgruppe, veranstaltung, absatz, seite
{
  display: block;
}

vv
{
  font-family: serif; 
  color: black;
  background-color: white;
}

kopf
{
  color: gray;
}

kopf > *
{
  display: block;
}

kopf > universit\0000E4t:before { content: "Uni: "; }
kopf > semester:before { content: "Semester: "; }
kopf > beginn:before { content: "Beginn: "; }
kopf > ende:before { content: "Ende: "; }

kopf > * > monat:before { content: " / "; }
kopf > * > tag:before { content: " / "; }

absatz { margin: .5em 0; }

absatz > veranstaltung { display: inline; }

veranstaltung { margin: .5em 0; }

antiqua { font-style: italic; }
gesperrt { font-family: sans-serif; }
kursiv { font-style: italic; }


vv > titel, vv > untertitel
{
  display: block;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

vv > titel
{
  font-size: xx-large;
}

\0000FCbersicht > titel
{
  display: block;
  margin: 1em 0;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

sachgruppe > sachgruppe
{
  margin-left: 1em;
}

sachgruppe > titel
{
  display: block;
  font-weight: bold;
  font-size: large;
}

seite { font-weight: bold; }
seite:before { content: "[Seite "; }
seite:after  { content: "]"; }

sic
{
  display: inline-block; 
  border: 1px solid transparent;
  border-bottom-color: gray;
  background-color: inherit;
}

sic:after { color: gray; content: " [sic]"; }
sic[beschreibung]:after { content: " [sic (" attr(beschreibung) ")]"; }

scil:after { color: gray; content: " [scil. \"" attr(text) "\"]"; }

trennlinie 
{
  display: block;
  margin: .5em 0;
  border: 1px solid gray;
  height: 1px;
  text-align: center;
}

@media XMLmind-XML-Editor {
  trennlinie
  {
    content: paragraph("----------", text-align, center, color, gray);
    border: 0;
  }

  /* XXE doesn't support letter-spacing */
  gesperrt { font-size: larger; }
}

dozent > grad,
dozent > funktion { font-style: italic; }
modus   { font-style: italic; }
geb\0000FChr { font-style: italic; }
