/* $Id$ */

veranstaltung thema   { background-color: #f5ffc0; }
veranstaltung zeit    { background-color: #e3ddbe; }
veranstaltung modus   { background-color: #e9d8ab; }
veranstaltung geb\0000FChr  { background-color: #f0d9bb; }
veranstaltung etc     { background-color: #ffe1fd; }

veranstaltung ders,
dozent nachname { background-color: #abb9c7; }
dozent vorname  { background-color: #ccdee6; }
dozent grad     { background-color: #b7d7d7; }
dozent funktion { background-color: #9bc1c1; }

notiz { color: red; }
seite { color: blue; }
