/* $Id$ */

veranstaltung thema   { background-color: #f5ffc0; }
veranstaltung zeit    { background-color: #e3ddbe; }
veranstaltung modus   { background-color: #e9d8ab; }
veranstaltung geb\0000FChr  { background-color: #f0d9bb; }

ort { background-color: #dbffdb; }
thema > ort
{
  background-color: inherit;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom-color: green;
}

veranstaltung ders,
dozent von,
dozent nachname { background-color: #abb9c7; }
dozent vorname  { background-color: #ccdee6; }
dozent grad     { background-color: #b7d7d7; }
dozent funktion { background-color: #9bc1c1; }

notiz { color: red; }
seite { color: blue; }
